/* Write your CSS here */
.bottom-section {
  height: 140vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.layout-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90%;
  margin-top: 24px;
  margin-bottom: 24px;
  justify-content: space-between;
}
